body{
 margin:0;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 font-size: 17px;
 color: brown
 line 1px;
}

#opinions{
 background-image:url(../IMG.CO/pexels-pixabay-36717.jpg);   
 height: 100vh;
 background-size: cover;
 background-position:center ;

 
}
#opinions .button{
   border: 1px solid;
   padding: 10px 20px;
   margin-top: 10px;
   font-size: large;
   border-radius: 10px;
   color: black;
   border-top: 10px;


}
#opinion h1{
    font-size: larger;
    padding-left: 3cm;
    padding-right: 3cm;
    padding-top: 2cm;

}
#opinions p{
    font-size: large;
    padding-left: 3cm;
    padding-right: 3cm;
    padding-top: 1cm;

}